
html{
  font-family: 'Montserrat', sans-serif;
}
.reset-your-password {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.reset-your-password .overlap-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
}

.reset-your-password .overlap {
  position: relative;
  height: 1030px;
}

.reset-your-password .rectangle {
  position: absolute;
  width: 1920px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #058e6e;
}

.reset-your-password .image {
  position: absolute;
  width: 870px;
  height: 980px;
  top: 50px;
  left: 960px;
}

.reset-your-password .signup-form {
  position: absolute;
  width: 850px;
  height: 960px;
  top: 60px;
  left: 100px;
  border-radius: 16px;
  overflow: hidden;
}

.reset-your-password .text-wrapper {
  position: absolute;
  top: 221px;
  left: 253px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.reset-your-password .signup-button {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  position: absolute;
  top: 585px;
  left: 185px;
  background-color: var(--primary);
  border-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

.reset-your-password .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.reset-your-password .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 335px;
  left: 185px;
}

.reset-your-password .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.reset-your-password .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.reset-your-password .signup-button-2 {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px 10px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--lightgrey);
}

.reset-your-password .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--lightgrey);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.reset-your-password .shownhide-button {
  position: relative;
  width: 24px;
  height: 24px;
}

.reset-your-password .group {
  position: absolute;
  width: 286px;
  height: 63px;
  top: 29px;
  left: 390px;
}

.reset-your-password .LOGO {
  position: absolute;
  width: 210px;
  height: 43px;
  top: 2px;
  left: 76px;
}

.reset-your-password .overlap-group {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background-color: var(--lightgreengrey);
  border-radius: 31.5px;
}

.reset-your-password .img {
  position: absolute;
  width: 51px;
  height: 54px;
  top: 4px;
  left: 6px;
}

.reset-your-password .arrow-next-small-wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 934px;
  left: 1734px;
  border-radius: 96px;
  border: 1px solid;
  border-color: var(--lightgrey);
}

.reset-your-password .arrow-next-small {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
}
