.order-plecement {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.order-plecement .div {
  background-color: var(--newgrey);
  overflow: hidden;
  width: 1920px;
  height: 1802px;
  position: relative;
}

.order-plecement .overlap {
  position: absolute;
  width: 1920px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.order-plecement .group {
  position: absolute;
  width: 212px;
  height: 32px;
  top: 24px;
  left: 1259px;
}

.order-plecement .vector {
  position: absolute;
  width: 2px;
  height: 26px;
  top: 3px;
  left: 122px;
}

.order-plecement .group-2 {
  position: absolute;
  width: 77px;
  height: 32px;
  top: 0;
  left: 139px;
}

.order-plecement .text-wrapper {
  position: absolute;
  top: 4px;
  left: 26px;
  color: var(--black);
  font-size: 20px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  color: var(--black);
  font-size: 26px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-3 {
  position: absolute;
  width: 109px;
  height: 24px;
  top: 4px;
  left: 0;
}

.order-plecement .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 32px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.order-plecement .frame {
  position: absolute;
  width: 156px;
  height: 28px;
  top: 26px;
  left: 1524px;
}

.order-plecement .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 28px;
  position: absolute;
  top: 18px;
  left: 521px;
  background-color: var(--white);
  border-radius: 31px;
  box-shadow: 0px 1px 4px #1d1d1f33;
}

.order-plecement .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.order-plecement .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .group-4 {
  position: absolute;
  width: 245px;
  height: 54px;
  top: 13px;
  left: 240px;
}

.order-plecement .LOGO {
  position: absolute;
  width: 180px;
  height: 37px;
  top: 2px;
  left: 65px;
}

.order-plecement .overlap-group {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #c0e2da;
  border-radius: 27px;
}

.order-plecement .frame-3 {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 3px;
  left: 5px;
}

.order-plecement .FOOTER {
  position: absolute;
  width: 1920px;
  height: 420px;
  top: 1381px;
  left: -1px;
  background-color: #ffffff;
  overflow: hidden;
}

.order-plecement .f {
  width: 1922px;
  height: 420px;
}

.order-plecement .overlap-group-2 {
  position: relative;
  width: 1920px;
  height: 420px;
}

.order-plecement .rectangle {
  width: 1210px;
  left: 0;
  background-color: var(--primary);
  position: absolute;
  height: 420px;
  top: 0;
}

.order-plecement .rectangle-2 {
  width: 712px;
  left: 1208px;
  background-color: #08bc92;
  position: absolute;
  height: 420px;
  top: 0;
}

.order-plecement .group-5 {
  position: absolute;
  width: 181px;
  height: 24px;
  top: 380px;
  left: 516px;
}

.order-plecement .element-DEALFLOW {
  position: absolute;
  top: 2px;
  left: 36px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .social-media {
  position: absolute;
  width: 420px;
  height: 28px;
  top: 190px;
  left: 1262px;
}

.order-plecement .p {
  position: absolute;
  top: 4px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .vuesax-linear {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 294px;
}

.order-plecement .vuesax-linear-2 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 342px;
}

.order-plecement .twitter {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 390px;
}

.order-plecement .teleph {
  position: absolute;
  width: 210px;
  height: 24px;
  top: 150px;
  left: 1262px;
}

.order-plecement .text-wrapper-5 {
  position: absolute;
  top: 1px;
  left: 29px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-6 {
  position: absolute;
  width: 177px;
  height: 195px;
  top: 56px;
  left: 240px;
}

.order-plecement .text-wrapper-6 {
  position: absolute;
  top: 51px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-7 {
  position: absolute;
  top: 91px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-8 {
  position: absolute;
  top: 131px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-9 {
  position: absolute;
  top: 171px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-7 {
  position: absolute;
  width: 207px;
  height: 195px;
  top: 56px;
  left: 455px;
}

.order-plecement .group-8 {
  position: absolute;
  width: 208px;
  height: 195px;
  top: 56px;
  left: 700px;
}

.order-plecement .group-9 {
  position: absolute;
  width: 212px;
  height: 195px;
  top: 56px;
  left: 946px;
}

.order-plecement .WITH-US-IT-IS-ALWAYS {
  position: absolute;
  top: 56px;
  left: 1262px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-4 {
  position: absolute;
  width: 956px;
  height: 72px;
  top: 265px;
  left: 240px;
  background-color: var(--white);
  border-radius: 11px;
  border: 1px solid;
  border-color: var(--lightlightgrey);
}

.order-plecement .vuesax-linear-3 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 23px;
  left: 18px;
}

.order-plecement .group-10 {
  position: absolute;
  width: 224px;
  height: 45px;
  top: 14px;
  left: 59px;
}

.order-plecement .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-12 {
  position: absolute;
  top: 28px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-11 {
  position: absolute;
  width: 65px;
  height: 22px;
  top: 28px;
  left: 875px;
}

.order-plecement .vuesax-linear-user {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
}

.order-plecement .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 26px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-5 {
  position: absolute;
  width: 956px;
  height: 72px;
  top: 355px;
  left: 240px;
  background-color: var(--white);
  border-radius: 11px;
  border: 1px solid;
  border-color: var(--lightlightgrey);
}

.order-plecement .group-12 {
  position: absolute;
  width: 220px;
  height: 45px;
  top: 14px;
  left: 59px;
}

.order-plecement .group-13 {
  position: absolute;
  width: 65px;
  height: 22px;
  top: 25px;
  left: 875px;
}

.order-plecement .vuesax-linear-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 18px;
}

.order-plecement .group-14 {
  position: absolute;
  width: 65px;
  height: 22px;
  top: 567px;
  left: 1115px;
}

.order-plecement .line {
  top: 564px;
  position: absolute;
  width: 956px;
  height: 1px;
  left: 240px;
  object-fit: cover;
}

.order-plecement .line-2 {
  top: 761px;
  position: absolute;
  width: 956px;
  height: 1px;
  left: 240px;
  object-fit: cover;
}

.order-plecement .line-3 {
  top: 889px;
  position: absolute;
  width: 956px;
  height: 1px;
  left: 240px;
  object-fit: cover;
}

.order-plecement .text-wrapper-14 {
  position: absolute;
  height: 49px;
  top: 151px;
  left: 750px;
  font-weight: 500;
  color: var(--primary);
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-6 {
  position: absolute;
  width: 351px;
  height: 72px;
  top: 265px;
  left: 1329px;
  background-color: var(--lightgreengrey);
  border-radius: 12px;
  box-shadow: 0px 2px 4px #0000001a;
}

.order-plecement .text-wrapper-15 {
  position: absolute;
  top: 23px;
  left: 59px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .img-3 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 23px;
  left: 18px;
}

.order-plecement .text-wrapper-16 {
  position: absolute;
  top: 24px;
  left: 295px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-7 {
  position: absolute;
  width: 351px;
  height: 72px;
  top: 353px;
  left: 1329px;
  background-color: var(--lightgreengrey);
  border-radius: 12px;
  box-shadow: 0px 2px 4px #0000001a;
}

.order-plecement .frame-8 {
  position: absolute;
  width: 351px;
  height: 480px;
  top: 108px;
  left: 0;
  background-color: var(--lightgreengrey);
  border-radius: 12px;
  box-shadow: 0px 2px 4px #0000001a;
}

.order-plecement .text-wrapper-17 {
  position: absolute;
  top: 31px;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .div-wrapper {
  display: flex;
  width: 236px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 28px;
  position: absolute;
  top: 218px;
  left: 58px;
  background-color: var(--primary);
  border-radius: 31px;
  box-shadow: 0px 1px 4px #1d1d1f33;
}

.order-plecement .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--white);
  font-size: 20px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-19 {
  position: absolute;
  width: 256px;
  top: 282px;
  left: 48px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--lightgrey);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-15 {
  position: absolute;
  width: 102px;
  height: 56px;
  top: 135px;
  left: 124px;
}

.order-plecement .element {
  position: absolute;
  width: 150px;
  top: 22px;
  left: -32px;
  color: var(--black);
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .span {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 28px;
  letter-spacing: 0;
}

.order-plecement .text-wrapper-20 {
  font-weight: 500;
}

.order-plecement .text-wrapper-21 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-22 {
  position: absolute;
  top: 411px;
  left: 57px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--lightgrey);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-23 {
  top: 72px;
  left: 48px;
  color: var(--black);
  font-size: 14px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-24 {
  position: absolute;
  top: 23px;
  left: 295px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .group-wrapper {
  position: absolute;
  width: 532px;
  height: 29px;
  top: 1248px;
  left: 240px;
}

.order-plecement .group-16 {
  position: relative;
  width: 534px;
  height: 29px;
}

.order-plecement .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 5px;
  left: 255px;
}

.order-plecement .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.order-plecement .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-plecement .text-wrapper-26 {
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 1253px;
  left: 830px;
}

.order-plecement .text-wrapper-27 {
  position: absolute;
  top: 488px;
  left: 240px;
  font-weight: 600;
  color: var(--primary);
  font-size: 24px;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-11 {
  position: absolute;
  width: 956px;
  height: 196px;
  top: 974px;
  left: 240px;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 2px 4px #0000001a;
}

.order-plecement .vuesax-linear-5 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 19px;
  left: 24px;
}

.order-plecement .line-4 {
  position: absolute;
  width: 593px;
  height: 1px;
  top: 54px;
  left: 0;
  object-fit: cover;
}

.order-plecement .vuesax-linear-6 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 143px;
  left: 27px;
}

.order-plecement .vuesax-linear-group {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 107px;
  left: 27px;
}

.order-plecement .text-wrapper-28 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 70px;
  left: 27px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-29 {
  position: absolute;
  top: 110px;
  left: 75px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-30 {
  position: absolute;
  top: 146px;
  left: 75px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-31 {
  position: absolute;
  top: 74px;
  left: 75px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-32 {
  position: absolute;
  top: 74px;
  left: 537px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-33 {
  top: 110px;
  left: 521px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-34 {
  top: 146px;
  left: 529px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .deliever-to {
  position: absolute;
  top: 22px;
  left: 77px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-35 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 14px;
  letter-spacing: 0;
}

.order-plecement .text-wrapper-36 {
  font-weight: 600;
}

.order-plecement .vuesax-linear-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 19px;
  left: 543px;
}

.order-plecement .vuesax-linear-wrapper {
  position: absolute;
  width: 363px;
  height: 196px;
  top: 0;
  left: 593px;
  background-image: url(./img/image-3.png);
  background-size: 100% 100%;
}

.order-plecement .vuesax-linear-7 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 47px;
  left: 123px;
}

.order-plecement .frame-12 {
  position: absolute;
  width: 956px;
  height: 80px;
  top: 664px;
  left: 240px;
  border-radius: 11px;
  overflow: hidden;
}

.order-plecement .image {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 12px;
  left: 18px;
}

.order-plecement .group-17 {
  position: absolute;
  width: 150px;
  height: 72px;
  top: 2px;
  left: 218px;
}

.order-plecement .price {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 22px;
  left: 0;
}

.order-plecement .text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: var(--lightgrey);
  font-size: 16px;
  text-decoration: line-through;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .element-2 {
  position: relative;
  width: fit-content;
  color: var(--red);
  font-size: 24px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-38 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #f84147;
  font-size: 24px;
  letter-spacing: 0;
}

.order-plecement .text-wrapper-39 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .overlap-group-wrapper {
  position: absolute;
  width: 84px;
  height: 53px;
  top: 2px;
  left: 820px;
}

.order-plecement .overlap-group-3 {
  position: relative;
  width: 80px;
  height: 53px;
}

.order-plecement .element-3 {
  position: absolute;
  width: 150px;
  top: 19px;
  left: 0;
  color: var(--black);
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .group-18 {
  position: absolute;
  width: 84px;
  height: 53px;
  top: 2px;
  left: 532px;
}

.order-plecement .text-wrapper-40 {
  position: absolute;
  top: 24px;
  left: 3px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .frame-13 {
  position: absolute;
  width: 956px;
  height: 80px;
  top: 792px;
  left: 240px;
  border-radius: 11px;
  overflow: hidden;
}

.order-plecement .text-wrapper-41 {
  position: absolute;
  top: 585px;
  left: 240px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-42 {
  position: absolute;
  width: 177px;
  top: 582px;
  left: 336px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--primary);
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-43 {
  position: absolute;
  top: 556px;
  left: 1603px;
  color: #000000;
  font-size: 14px;
  text-align: right;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-44 {
  position: absolute;
  top: 534px;
  left: 1593px;
  color: #000000;
  font-size: 14px;
  text-align: right;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.order-plecement .text-wrapper-45 {
  position: absolute;
  top: 534px;
  left: 1604px;
  color: #000000;
  font-size: 14px;
  text-align: right;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}